/* ========= Color variables =========== */
$gray-light: rgb(221, 217, 217);
$black: black;
$black-bright: rgb(76, 74, 74);
$pink: rgb(255, 0, 89);
$pink-light: pink;
$white: white;
$red-bright: rgb(248, 174, 174);
$red: rgb(237, 16, 16);

/* ========= Other variables =========== */
$card-height: 250px;
$card-border-radius: 5px;

/* ========= General settings and resets =========== */

:root {
  font-size: 20px;
  font-family: Verdana, sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $gray-light;
}

/* ========= Scroll & Cards =========== */

// container with all cards
.scroll-container {
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

// single card item
.card {
  margin: 0 auto;
  position: relative;
  height: $card-height;
  width: 100%;

  &__img {
    width: 100%;
    height: 100%;
    border-radius: $card-border-radius;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: opacity 200ms ease-in;

    // show img only once it is fully loaded
    &--loaded {
      opacity: 1;
    }
  }

  // display gray background while image is being loaded
  &__img-wrapper {
    height: 100%;
    background-color: rgba($black, 0.1);
    border-radius: $card-border-radius;
  }

  &:hover .hover-items {
    opacity: 1;
  }
}

.hover-items {
  opacity: 0;

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0.2em;

  width: 100%;
  height: 100%;
  padding: 0.5em;

  border-radius: $card-border-radius;
  background-color: rgba(0, 0, 0, 0.49);
  transition: opacity 200ms ease-in-out;

  &__title {
    margin: auto auto 0.2em;
    max-width: $card-height;

    font-weight: 900;
    font-size: 0.9em;
    color: $white;
    text-align: center;

    /* cut too long titles */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__author {
    font-style: italic;
    font-weight: 500;
    font-size: 0.8em;
    color: $white;
  }

  &__divider {
    width: 25%;
    height: 1.5px;
    background-color: white;
  }

  &__favourite-btn {
    margin: 1.75em auto 1.5em;
    padding: 0.5em 1em;

    font-size: 0.8em;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 1em;
  }

  &__favourite-btn:hover {
    cursor: pointer;
    background-color: $black;
  }

  &__favourite-btn--favourited {
    &::after {
      display: inline-block;
      content: url("../public/heart.svg");
      width: 0.75em;
      height: 0.75em;
      margin-left: 0.75em;
    }
  }
}

// show error in case there is a problem with data fetch
.error-message {
  position: sticky;
  top: 0.5em;
  left: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  margin: 0.75em;
  padding: 1em;

  border-radius: $card-border-radius;
  border: 1px solid $red;
  background-color: rgba($red-bright, 0.9);
  color: $red;
  font-size: 0.7em;
}

// link back to pexels page
.link {
  display: flex;
  justify-content: center;
  margin: 1.5em auto;
  width: min-content;
  white-space: nowrap;
  color: $black;
  font-style: italic;
  font-size: 0.6em;
  transition: color 200ms ease-in;

  &:hover {
    color: $black-bright;
  }
}

// Display for tablet
@media (min-width: 500px) {
  .scroll-container {
    margin: 10px auto;
    grid-template-columns: 1fr 1fr;
  }
}

// Display for desktop
@media (min-width: 1100px) {
  .scroll-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1170px;
  }
}
